PORT=3333

DATABASE_URL="postgresql://postgres:password@localhost:5432/rhythm"

BETTER_AUTH_SECRET=XZVfQixd8EAMlczmQRiW4WfTEbTUa3Lj
BETTER_AUTH_URL=http://localhost:3333

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

GOOGLE_GENERATIVE_AI_API_KEY=your-google-generative-ai-api-key